body {
    font-family: 'Raleway', sans-serif;
    }
    .main{
    margin:0,auto;
    }
    .css {
    position: absolute;
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid black;
    margin-top: 8%;
    margin-left: 10%;
    }
    .js {
    display:none;
    position: absolute;
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid black;
    margin-left: 38%;
    margin-top: 8%;
    }
    button#click {
    margin-left: 45%;
    margin-top: 22%;
    }
    .fg-button{
    position: relative;
    top: 0;
    border-radius: 4;
    font-size: 18px;
    padding: 8px 28px;
    text-decoration: none;
    border: 0px solid;
    cursor: pointer;
    border-bottom-width: 3px;
    outline: none;
    -webkit-transition: 0.3s background;
    -moz-transition: 0.3s background;
    transition: 0.3s background;
    }
    .fg-button:active{
    top: 2px;
    }
    .fg-button.teal{
    color: #fff;
    border-color: #04A5A1;
    background-color: #08BBB7;
    }
    .fg-button.teal:hover{
    background: #0ACFCB;
    }